<div>
  <h2 id="page-heading">
    <span>Serial Modbus Slave Bonds</span>
  </h2>
  <jhi-alert></jhi-alert>
  <br/>
  <div *ngIf="smsBonds" class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><span>ID</span></th>
        <th><span>Enabled</span></th>
        <th><span>Reg Type</span></th>
        <th><span>Reg</span></th>
        <th><span>Particle</span></th>
        <th><span>Sms Device</span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let smsBond of smsBonds ;trackBy: trackId">
        <td><a [routerLink]="['/sms-bond', smsBond.id, 'view' ]">{{smsBond.id}}</a></td>
        <td>{{smsBond.enabled}}</td>
        <td>{{smsBond.regType}}</td>
        <td>{{smsBond.reg}}</td>
        <td>
          <div *ngIf="smsBond.particle.id">
            <a [routerLink]="['../particle', smsBond.particle.id , 'view' ]">{{smsBond.particle.name}}</a>
          </div>
        </td>
        <td>
          <div *ngIf="smsBond.smsDevice.id">
            <a [routerLink]="['../sms-device', smsBond.smsDevice.id , 'view' ]">{{smsBond.smsDevice.name}}</a>
          </div>
        </td>
        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button [routerLink]="['/sms-bond', smsBond.id, 'view' ]"
                    class="btn btn-info btn-sm"
                    type="submit">
              <fa-icon [icon]="'eye'"></fa-icon>
              <span class="d-none d-md-inline">View</span>
            </button>
            <button [routerLink]="['/sms-bond', smsBond.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    type="submit">
              <fa-icon [icon]="'pencil-alt'"></fa-icon>
              <span class="d-none d-md-inline">Edit</span>
            </button>
            <button [routerLink]="['/', 'sms-bond', { outlets: { popup: smsBond.id + '/delete'} }]"
                    class="btn btn-danger btn-sm"
                    queryParamsHandling="merge"
                    replaceUrl="true"
                    type="submit">
              <fa-icon [icon]="'times'"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
