<div>
    <h2 id="page-heading">
        <span>Sms Device Ops</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sms-device-op" [routerLink]="['/sms-device-op/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Sms Device Op
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="smsDeviceOps">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>State</span></th>
            <th><span>Dt</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let smsDeviceOp of smsDeviceOps ;trackBy: trackId">
                <td><a [routerLink]="['/sms-device-op', smsDeviceOp.id, 'view' ]">{{smsDeviceOp.id}}</a></td>
                <td>{{smsDeviceOp.state}}</td>
                <td>{{smsDeviceOp.dt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sms-device-op', smsDeviceOp.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sms-device-op', smsDeviceOp.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sms-device-op', { outlets: { popup: smsDeviceOp.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
