<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="smsDeviceOp">
            <h2><span>Sms Device Op</span> {{smsDeviceOp.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>State</span></dt>
                <dd>
                    <span>{{smsDeviceOp.state}}</span>
                </dd>
                <dt><span>Dt</span></dt>
                <dd>
                    <span>{{smsDeviceOp.dt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sms-device-op', smsDeviceOp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
