<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="smmChargerOp">
            <h2><span>Smm Charger Op</span> {{smmChargerOp.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>State</span></dt>
                <dd>
                    <span>{{smmChargerOp.state}}</span>
                </dd>
                <dt><span>Dt</span></dt>
                <dd>
                    <span>{{smmChargerOp.dt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/smm-charger-op', smmChargerOp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
