<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="electronOp">
            <h2><span>Electron Op</span> {{electronOp.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>State</span></dt>
                <dd>
                    <span>{{electronOp.state}}</span>
                </dd>
                <dt><span>Dt</span></dt>
                <dd>
                    <span>{{electronOp.dt}}</span>
                </dd>
                <dt><span>Command</span></dt>
                <dd>
                    <input #cmdInput (keyup.enter)="writeCommand(cmdInput.value)" class="input-sm"
                           id="input_command" type="text"/>
                    <button (click)="writeCommand(cmdInput.value)" class="btn btn-success"><span>Send</span>
                    </button>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
