<div>
    <h2 id="page-heading">
        <span>Electron Ops</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="electronOps">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>State</span></th>
            <th><span>Dt</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let electronOp of electronOps ;trackBy: trackId">
                <td><a [routerLink]="['/electron-op', electronOp.id, 'view' ]">{{electronOp.id}}</a></td>
                <td>{{electronOp.state}}</td>
                <td>{{electronOp.dt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/electron-op', electronOp.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
