<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="particleOp">
            <h2><span>Particle Op</span> {{particleOp.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>State</span></dt>
                <dd>
                    <span>{{particleOp.state}}</span>
                </dd>
                <dt><span>Dt</span></dt>
                <dd>
                    <span>{{particleOp.dt}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{particleOp.value}}</span>
                </dd>
                <dt><span>Written By</span></dt>
                <dd>
                    <span>{{particleOp.writtenBy}}</span>
                </dd>
                <dt><span>Written Dt</span></dt>
                <dd>
                    <span>{{particleOp.writtenDt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/particle-op', particleOp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
