<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="particleOp">
            <h2><span>Particle Op</span> {{particleOp.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>State</span></dt>
                <dd>
                    <span>{{particleOp.state}}</span>
                </dd>
                <dt><span>Dt</span></dt>
                <dd>
                    <span>{{particleOp.dt}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{particleOp.value}}</span>
                </dd>
                <dt><span>Written By</span></dt>
                <dd>
                    <span>{{particleOp.writtenBy}}</span>
                </dd>
                <dt><span>Written Dt</span></dt>
                <dd>
                    <span>{{particleOp.writtenDt}}</span>
                </dd>
                <dt><span>Command</span></dt>
                <dd>
                    <input #cmdInput (keyup.enter)="writeCommand(cmdInput.value)" class="input-sm"
                           id="input_command" type="text"/>
                    <button (click)="writeCommand(cmdInput.value)" class="btn btn-success"><span>Send</span>
                    </button>
                </dd>
            </dl>
            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
